In [71]:
import pandas as pd
import numpy as np

## Load the data

In [72]:
data_preprocessed = pd.read_csv('dataset-credit-preprocessed.csv')
data_preprocessed.head()

,checking_status_1,checking_status_2,checking_status_3,checking_status_4,duration,credit_history,purpose_1,purpose_2,purpose_3,purpose_4,...,other_payment_plans,housing_1,housing_2,housing_3,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,0,1,0,0,6,0,1,0,0,0,...,0,1,0,0,2,2,1,1,1,1
1,1,0,0,0,48,2,1,0,0,0,...,0,1,0,0,1,2,1,0,1,0
2,0,0,0,1,12,0,0,1,0,0,...,0,1,0,0,1,1,2,0,1,1
3,0,1,0,0,42,2,0,0,1,0,...,0,0,1,0,1,2,2,0,1,1
4,0,1,0,0,24,1,0,0,0,1,...,0,0,1,0,2,2,2,0,1,0

## Targets

In [73]:
data_preprocessed.shape

(1000, 45)

In [74]:
targets = data_preprocessed['class']

In [75]:
data_preprocessed.iloc[:,:-1]

,checking_status_1,checking_status_2,checking_status_3,checking_status_4,duration,credit_history,purpose_1,purpose_2,purpose_3,purpose_4,...,age,other_payment_plans,housing_1,housing_2,housing_3,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,0,1,0,0,6,0,1,0,0,0,...,67,0,1,0,0,2,2,1,1,1
1,1,0,0,0,48,2,1,0,0,0,...,22,0,1,0,0,1,2,1,0,1
2,0,0,0,1,12,0,0,1,0,0,...,49,0,1,0,0,1,1,2,0,1
3,0,1,0,0,42,2,0,0,1,0,...,45,0,0,1,0,1,2,2,0,1
4,0,1,0,0,24,1,0,0,0,1,...,53,0,0,1,0,2,2,2,0,1
5,0,0,0,1,36,2,0,1,0,0,...,35,0,0,1,0,1,1,2,1,1
6,0,0,0,1,24,2,0,0,1,0,...,53,0,1,0,0,1,2,1,0,1
7,1,0,0,0,36,2,0,0,0,0,...,35,0,0,0,1,1,3,1,1,1
8,0,0,0,1,12,2,1,0,0,0,...,61,0,1,0,0,1,1,1,0,1
9,1,0,0,0,30,0,0,0,0,1,...,28,0,1,0,0,2,3,1,0,1
10,1,0,0,0,12,2,0,0,0,1,...,25,0,0,0,1,1,2,1,0,1
11,0,1,0,0,48,2,0,0,0,0,...,24,0,0,0,1,1,2,1,0,1
12,1,0,0,0,12,2,1,0,0,0,...,22,0,1,0,0,1,2,1,1,1
13,0,1,0,0,24,0,0,0,0,1,...,60,0,1,0,0,2,1,1,0,1
14,0,1,0,0,15,2,0,0,0,1,...,28,0,0,0,1,1,2,1,0,1
15,0,1,0,0,24,2,1,0,0,0,...,32,0,1,0,0,1,1,1,0,1
16,0,0,0,1,24,0,1,0,0,0,...,53,0,1,0,0,2,2,1,0,1
17,0,1,0,0,30,3,0,0,0,0,...,25,1,1,0,0,3,2,1,0,1
18,1,0,0,0,24,2,0,0,0,0,...,44,0,0,1,0,1,3,1,1,1
19,0,0,0,1,24,2,1,0,0,0,...,31,0,1,0,0,1,2,2,1,1
20,0,0,0,1,9,0,0,0,0,1,...,48,0,1,0,0,3,2,1,1,1
21,0,1,0,0,6,2,1,0,0,0,...,44,0,0,0,1,1,2,2,0,1
22,0,1,0,0,10,0,0,0,0,1,...,48,0,0,0,1,2,1,2,0,0
23,1,0,0,0,12,0,0,0,0,0,...,44,0,1,0,0,1,2,1,0,1
24,0,0,0,1,10,0,0,0,1,0,...,26,0,1,0,0,2,2,1,0,0
25,0,1,0,0,6,2,0,0,1,0,...,36,1,1,0,0,1,1,1,1,1
26,0,0,0,1,6,3,1,0,0,0,...,39,0,1,0,0,1,1,1,0,1
27,0,0,1,0,12,3,1,0,0,0,...,42,0,0,0,1,2,2,1,0,1
28,1,0,0,0,7,2,1,0,0,0,...,34,0,1,0,0,1,2,1,0,1
29,0,1,0,0,60,1,0,0,0,0,...,63,0,1,0,0,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1,0,0,0,15,2,0,0,0,0,...,22,0,1,0,0,1,2,1,0,1
971,0,0,0,1,24,2,0,0,0,1,...,43,0,1,0,0,1,1,2,0,1
972,0,1,0,0,24,3,0,0,0,1,...,29,0,0,0,1,2,0,1,0,1
973,0,1,0,0,60,2,0,0,0,0,...,36,0,0,0,1,1,2,1,0,1
974,0,0,0,1,30,0,1,0,0,0,...,33,0,1,0,0,1,2,1,1,1
975,0,0,1,0,24,2,1,0,0,0,...,57,0,1,0,0,1,1,1,0,1
976,1,0,0,0,6,2,1,0,0,0,...,64,0,1,0,0,1,2,1,0,1
977,1,0,0,0,18,1,0,0,0,0,...,42,0,1,0,0,2,2,1,0,1
978,0,0,0,1,24,1,0,0,0,1,...,47,0,1,0,0,2,1,2,0,1
979,1,0,0,0,15,3,0,0,0,1,...,25,0,0,0,1,1,2,1,0,1
980,1,0,0,0,30,0,0,0,1,0,...,49,0,1,0,0,1,2,1,0,1
981,0,0,0,1,48,2,0,0,0,0,...,33,1,0,0,1,1,3,1,1,1
982,0,0,1,0,21,2,0,0,0,1,...,28,1,1,0,0,1,3,1,1,1
983,0,1,0,0,36,2,0,0,0,0,...,26,0,1,0,0,1,2,2,0,1
984,0,0,0,1,24,0,0,0,1,0,...,30,0,1,0,0,2,1,1,0,1
985,0,1,0,0,15,0,0,0,1,0,...,25,0,0,0,1,2,2,1,0,1
986,0,0,1,0,42,3,0,0,0,0,...,33,0,1,0,0,2,2,1,0,1
987,0,0,0,1,13,2,1,0,0,0,...,64,0,1,0,0,1,2,1,0,1
988,0,1,0,0,24,2,0,0,0,0,...,29,0,0,1,0,1,3,1,1,1
989,1,0,0,0,24,0,1,0,0,0,...,48,0,1,0,0,2,1,1,0,1
990,0,0,0,1,12,0,0,1,0,0,...,37,0,1,0,0,2,1,2,0,1
991,0,0,0,1,15,3,1,0,0,0,...,34,1,1,0,0,1,1,2,0,1
992,0,1,0,0,18,2,1,0,0,0,...,23,0,0,0,1,2,1,1,0,1
993,0,1,0,0,36,2,0,0,1,0,...,30,0,1,0,0,1,3,1,1,1
994,0,0,0,1,12,2,0,0,0,1,...,50,0,1,0,0,1,2,1,1,1
995,0,0,0,1,12,2,0,0,1,0,...,31,0,1,0,0,1,1,1,0,1
996,0,1,0,0,30,2,0,0,0,0,...,40,0,1,0,0,1,3,1,1,1
997,0,0,0,1,12,2,1,0,0,0,...,38,0,1,0,0,1,2,1,0,1
998,0,1,0,0,45,2,1,0,0,0,...,23,0,0,1,0,1,2,1,1,1
999,1,0,0,0,45,0,0,0,0,0,...,27,0,1,0,0,1,2,1,0,1

In [76]:
unscaled_inputs = data_preprocessed.iloc[:,:-1]

## Standardize data

In [77]:
from sklearn.preprocessing import StandardScaler

credit_scaler = StandardScaler()

In [78]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [79]:
unscaled_inputs.columns.values

array(['checking_status_1', 'checking_status_2', 'checking_status_3',
       'checking_status_4', 'duration', 'credit_history', 'purpose_1',
       'purpose_2', 'purpose_3', 'purpose_4', 'purpose_5', 'purpose_6',
       'purpose_7', 'purpose_8', 'purpose_9', 'purpose_10',
       'credit_amount', 'savings_status', 'employment_1', 'employment_2',
       'employment_3', 'employment_4', 'employment_5',
       'installment_commitment', 'personal_status_1', 'personal_status_2',
       'personal_status_3', 'personal_status_4', 'other_parties',
       'residence_since', 'property_magnitude_1', 'property_magnitude_2',
       'property_magnitude_3', 'property_magnitude_4', 'age',
       'other_payment_plans', 'housing_1', 'housing_2', 'housing_3',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker'], dtype=object)

In [80]:
columns_to_omit = ['checking_status_1', 'checking_status_2', 'checking_status_3',
                   'checking_status_4', 'purpose_1',
       'purpose_2', 'purpose_3', 'purpose_4', 'purpose_5', 'purpose_6',
       'purpose_7', 'purpose_8', 'purpose_9', 'purpose_10', 'savings_status', 'employment_1', 'employment_2',
       'employment_3', 'employment_4', 'employment_5', 'installment_commitment', 'personal_status_1', 'personal_status_2',
       'personal_status_3', 'personal_status_4', 'other_parties',
       'residence_since', 'property_magnitude_1', 'property_magnitude_2',
       'property_magnitude_3', 'property_magnitude_4',
       'other_payment_plans', 'housing_1', 'housing_2', 'housing_3',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker']

columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [81]:
credit_scaler = CustomScaler(columns_to_scale)

In [82]:
credit_scaler.fit(unscaled_inputs)

CustomScaler(columns=['duration', 'credit_history', 'credit_amount', 'age'],
             copy=None, with_mean=None, with_std=None)

In [83]:
scaled_inputs = credit_scaler.transform(unscaled_inputs)
scaled_inputs

,checking_status_1,checking_status_2,checking_status_3,checking_status_4,duration,credit_history,purpose_1,purpose_2,purpose_3,purpose_4,...,age,other_payment_plans,housing_1,housing_2,housing_3,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,0,1,0,0,-1.236478,-1.410231,1,0,0,0,...,2.766456,0,1,0,0,2,2,1,1,1
1,1,0,0,0,2.248194,0.583028,1,0,0,0,...,-1.191404,0,1,0,0,1,2,1,0,1
2,0,0,0,1,-0.738668,-1.410231,0,1,0,0,...,1.183312,0,1,0,0,1,1,2,0,1
3,0,1,0,0,1.750384,0.583028,0,0,1,0,...,0.831502,0,0,1,0,1,2,2,0,1
4,0,1,0,0,0.256953,-0.413601,0,0,0,1,...,1.535122,0,0,1,0,2,2,2,0,1
5,0,0,0,1,1.252574,0.583028,0,1,0,0,...,-0.048022,0,0,1,0,1,1,2,1,1
6,0,0,0,1,0.256953,0.583028,0,0,1,0,...,1.535122,0,1,0,0,1,2,1,0,1
7,1,0,0,0,1.252574,0.583028,0,0,0,0,...,-0.048022,0,0,0,1,1,3,1,1,1
8,0,0,0,1,-0.738668,0.583028,1,0,0,0,...,2.238742,0,1,0,0,1,1,1,0,1
9,1,0,0,0,0.754763,-1.410231,0,0,0,1,...,-0.663689,0,1,0,0,2,3,1,0,1
10,1,0,0,0,-0.738668,0.583028,0,0,0,1,...,-0.927547,0,0,0,1,1,2,1,0,1
11,0,1,0,0,2.248194,0.583028,0,0,0,0,...,-1.015499,0,0,0,1,1,2,1,0,1
12,1,0,0,0,-0.738668,0.583028,1,0,0,0,...,-1.191404,0,1,0,0,1,2,1,1,1
13,0,1,0,0,0.256953,-1.410231,0,0,0,1,...,2.150789,0,1,0,0,2,1,1,0,1
14,0,1,0,0,-0.489762,0.583028,0,0,0,1,...,-0.663689,0,0,0,1,1,2,1,0,1
15,0,1,0,0,0.256953,0.583028,1,0,0,0,...,-0.311879,0,1,0,0,1,1,1,0,1
16,0,0,0,1,0.256953,-1.410231,1,0,0,0,...,1.535122,0,1,0,0,2,2,1,0,1
17,0,1,0,0,0.754763,1.579658,0,0,0,0,...,-0.927547,1,1,0,0,3,2,1,0,1
18,1,0,0,0,0.256953,0.583028,0,0,0,0,...,0.743550,0,0,1,0,1,3,1,1,1
19,0,0,0,1,0.256953,0.583028,1,0,0,0,...,-0.399832,0,1,0,0,1,2,2,1,1
20,0,0,0,1,-0.987573,-1.410231,0,0,0,1,...,1.095360,0,1,0,0,3,2,1,1,1
21,0,1,0,0,-1.236478,0.583028,1,0,0,0,...,0.743550,0,0,0,1,1,2,2,0,1
22,0,1,0,0,-0.904604,-1.410231,0,0,0,1,...,1.095360,0,0,0,1,2,1,2,0,0
23,1,0,0,0,-0.738668,-1.410231,0,0,0,0,...,0.743550,0,1,0,0,1,2,1,0,1
24,0,0,0,1,-0.904604,-1.410231,0,0,1,0,...,-0.839594,0,1,0,0,2,2,1,0,0
25,0,1,0,0,-1.236478,0.583028,0,0,1,0,...,0.039930,1,1,0,0,1,1,1,1,1
26,0,0,0,1,-1.236478,1.579658,1,0,0,0,...,0.303788,0,1,0,0,1,1,1,0,1
27,0,0,1,0,-0.738668,1.579658,1,0,0,0,...,0.567645,0,0,0,1,2,2,1,0,1
28,1,0,0,0,-1.153509,0.583028,1,0,0,0,...,-0.135974,0,1,0,0,1,2,1,0,1
29,0,1,0,0,3.243815,-0.413601,0,0,0,0,...,2.414647,0,1,0,0,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1,0,0,0,-0.489762,0.583028,0,0,0,0,...,-1.191404,0,1,0,0,1,2,1,0,1
971,0,0,0,1,0.256953,0.583028,0,0,0,1,...,0.655598,0,1,0,0,1,1,2,0,1
972,0,1,0,0,0.256953,1.579658,0,0,0,1,...,-0.575737,0,0,0,1,2,0,1,0,1
973,0,1,0,0,3.243815,0.583028,0,0,0,0,...,0.039930,0,0,0,1,1,2,1,0,1
974,0,0,0,1,0.754763,-1.410231,1,0,0,0,...,-0.223927,0,1,0,0,1,2,1,1,1
975,0,0,1,0,0.256953,0.583028,1,0,0,0,...,1.886932,0,1,0,0,1,1,1,0,1
976,1,0,0,0,-1.236478,0.583028,1,0,0,0,...,2.502599,0,1,0,0,1,2,1,0,1
977,1,0,0,0,-0.240857,-0.413601,0,0,0,0,...,0.567645,0,1,0,0,2,2,1,0,1
978,0,0,0,1,0.256953,-0.413601,0,0,0,1,...,1.007407,0,1,0,0,2,1,2,0,1
979,1,0,0,0,-0.489762,1.579658,0,0,0,1,...,-0.927547,0,0,0,1,1,2,1,0,1
980,1,0,0,0,0.754763,-1.410231,0,0,1,0,...,1.183312,0,1,0,0,1,2,1,0,1
981,0,0,0,1,2.248194,0.583028,0,0,0,0,...,-0.223927,1,0,0,1,1,3,1,1,1
982,0,0,1,0,0.008048,0.583028,0,0,0,1,...,-0.663689,1,1,0,0,1,3,1,1,1
983,0,1,0,0,1.252574,0.583028,0,0,0,0,...,-0.839594,0,1,0,0,1,2,2,0,1
984,0,0,0,1,0.256953,-1.410231,0,0,1,0,...,-0.487784,0,1,0,0,2,1,1,0,1
985,0,1,0,0,-0.489762,-1.410231,0,0,1,0,...,-0.927547,0,0,0,1,2,2,1,0,1
986,0,0,1,0,1.750384,1.579658,0,0,0,0,...,-0.223927,0,1,0,0,2,2,1,0,1
987,0,0,0,1,-0.655699,0.583028,1,0,0,0,...,2.502599,0,1,0,0,1,2,1,0,1
988,0,1,0,0,0.256953,0.583028,0,0,0,0,...,-0.575737,0,0,1,0,1,3,1,1,1
989,1,0,0,0,0.256953,-1.410231,1,0,0,0,...,1.095360,0,1,0,0,2,1,1,0,1
990,0,0,0,1,-0.738668,-1.410231,0,1,0,0,...,0.127883,0,1,0,0,2,1,2,0,1
991,0,0,0,1,-0.489762,1.579658,1,0,0,0,...,-0.135974,1,1,0,0,1,1,2,0,1
992,0,1,0,0,-0.240857,0.583028,1,0,0,0,...,-1.103451,0,0,0,1,2,1,1,0,1
993,0,1,0,0,1.252574,0.583028,0,0,1,0,...,-0.487784,0,1,0,0,1,3,1,1,1
994,0,0,0,1,-0.738668,0.583028,0,0,0,1,...,1.271265,0,1,0,0,1,2,1,1,1
995,0,0,0,1,-0.738668,0.583028,0,0,1,0,...,-0.399832,0,1,0,0,1,1,1,0,1
996,0,1,0,0,0.754763,0.583028,0,0,0,0,...,0.391740,0,1,0,0,1,3,1,1,1
997,0,0,0,1,-0.738668,0.583028,1,0,0,0,...,0.215835,0,1,0,0,1,2,1,0,1
998,0,1,0,0,1.999289,0.583028,1,0,0,0,...,-1.103451,0,0,1,0,1,2,1,1,1
999,1,0,0,0,1.999289,-1.410231,0,0,0,0,...,-0.751642,0,1,0,0,1,2,1,0,1

In [84]:
scaled_inputs.shape

(1000, 44)

## Split dataset (Train, Validation, Test)

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
train_test_split(scaled_inputs, targets)

[     checking_status_1  checking_status_2  checking_status_3  \
 291                  1                  0                  0
 748                  0                  0                  0
 504                  0                  1                  0
 51                   1                  0                  0
 721                  1                  0                  0
 593                  1                  0                  0
 936                  0                  0                  1
 185                  0                  0                  0
 610                  0                  1                  0
 355                  1                  0                  0
 482                  0                  1                  0
 687                  1                  0                  0
 223                  0                  0                  0
 27                   0                  0                  1
 461                  0                  1                  0
 566                  0                  1                  0
 75                   0                  1                  0
 228                  0                  0                  0
 36                   0                  0                  0
 947                  0                  0                  0
 723                  1                  0                  0
 117                  0                  1                  0
 135                  0                  0                  0
 799                  1                  0                  0
 532                  0                  0                  0
 173                  1                  0                  0
 340                  1                  0                  0
 651                  1                  0                  0
 974                  0                  0                  0
 194                  1                  0                  0
 ..                 ...                ...                ...
 460                  0                  1                  0
 767                  0                  0                  0
 435                  1                  0                  0
 227                  0                  1                  0
 326                  0                  0                  0
 394                  0                  0                  0
 814                  0                  1                  0
 897                  0                  0                  0
 674                  0                  0                  0
 253                  0                  0                  0
 715                  0                  0                  0
 887                  1                  0                  0
 426                  0                  0                  0
 448                  0                  0                  1
 949                  0                  0                  0
 443                  0                  0                  0
 649                  0                  1                  0
 205                  0                  1                  0
 689                  0                  1                  0
 505                  0                  0                  0
 321                  0                  1                  0
 23                   1                  0                  0
 449                  1                  0                  0
 456                  0                  1                  0
 930                  0                  1                  0
 508                  0                  0                  0
 445                  0                  0                  0
 16                   0                  0                  0
 746                  0                  1                  0
 638                  0                  0                  0

      checking_status_4  duration  credit_history  purpose_1  purpose_2  \
 291                  0  1.252574        0.583028          0          0
 748                  1  0.008048        0.583028          0          0
 504                  0  0.256953        0.583028          0          0
 51                   0  0.505858       -0.413601          0          0
 721                  0 -1.236478        1.579658          0          1
 593                  0  0.256953        0.583028          0          0
 936                  0 -0.987573        0.583028          1          0
 185                  1 -0.489762       -1.410231          1          0
 610                  0 -0.738668        0.583028          0          0
 355                  0  0.256953        0.583028          0          0
 482                  0  0.754763        0.583028          0          0
 687                  0  1.252574       -0.413601          0          0
 223                  1  0.256953       -0.413601          0          0
 27                   0 -0.738668        1.579658          1          0
 461                  0 -0.489762        0.583028          0          0
 566                  0 -0.738668        0.583028          0          0
 75                   0 -0.738668       -1.410231          0          0
 228                  1 -0.987573        0.583028          1          0
 36                   1  2.248194       -1.410231          0          1
 947                  1 -0.738668        0.583028          0          0
 723                  0 -0.987573        0.583028          1          0
 117                  0 -0.904604       -1.410231          0          0
 135                  1 -0.738668       -1.410231          1          0
 799                  0 -0.987573        0.583028          0          0
 532                  1 -0.738668       -0.413601          0          0
 173                  0 -1.070541        0.583028          1          0
 340                  0  0.256953       -1.410231          0          1
 651                  0 -0.738668        0.583028          0          0
 974                  1  0.754763       -1.410231          1          0
 194                  0  1.999289        0.583028          1          0
 ..                 ...       ...             ...        ...        ...
 460                  0  1.252574        0.583028          0          0
 767                  1 -0.904604        0.583028          0          0
 435                  0 -0.738668        0.583028          1          0
 227                  0 -0.738668        0.583028          0          0
 326                  1 -0.738668       -1.410231          0          0
 394                  1 -0.987573       -1.410231          0          0
 814                  0  2.248194        0.583028          0          0
 897                  1 -0.738668       -1.410231          0          0
 674                  1  0.008048       -0.413601          0          0
 253                  1  0.256953       -0.413601          0          0
 715                  1  0.754763       -1.410231          0          0
 887                  0  2.248194        0.583028          0          0
 426                  1  0.588827       -1.410231          1          0
 448                  0 -0.738668        0.583028          0          0
 949                  1  0.256953        0.583028          1          0
 443                  1 -0.738668        0.583028          0          1
 649                  0 -0.738668        0.583028          0          1
 205                  0  0.754763       -1.410231          0          0
 689                  0 -0.738668        0.583028          0          0
 505                  1 -0.904604        0.583028          0          0
 321                  0  0.256953        0.583028          1          0
 23                   0 -0.738668       -1.410231          0          0
 449                  0 -0.489762       -0.413601          0          0
 456                  0 -0.821636       -1.410231          0          0
 930                  0  0.256953        0.583028          0          0
 508                  1  0.256953        0.583028          1          0
 445                  1 -0.987573       -1.410231          0          1
 16                   1  0.256953       -1.410231          1          0
 746                  0 -0.489762        0.583028          0          0
 638                  1 -0.738668        0.583028          1          0

      purpose_3  purpose_4  ...       age  other_payment_plans  housing_1  \
 291          0          0  ... -0.663689                    0          0
 748          0          0  ... -0.839594                    0          1
 504          0          1  ... -1.015499                    0          0
 51           0          0  ... -0.487784                    0          1
 721          0          0  ... -1.015499                    1          0
 593          0          1  ... -1.367309                    0          0
 936          0          0  ... -0.663689                    0          1
 185          0          0  ... -0.399832                    0          1
 610          0          0  ... -1.191404                    0          1
 355          0          1  ... -1.103451                    1          1
 482          1          0  ...  1.886932                    0          0
 687          0          1  ... -0.487784                    0          0
 223          0          0  ... -0.311879                    0          1
 27           0          0  ...  0.567645                    0          0
 461          0          1  ...  0.039930                    0          1
 566          0          1  ...  0.039930                    0          1
 75           0          0  ...  2.678504                    0          0
 228          0          0  ... -1.191404                    0          1
 36           0          0  ... -0.399832                    1          0
 947          0          1  ...  0.215835                    0          1
 723          0          0  ...  2.678504                    0          1
 117          1          0  ... -0.751642                    0          0
 135          0          0  ...  0.215835                    0          1
 799          0          1  ... -0.048022                    0          1
 532          0          0  ...  0.479693                    0          0
 173          0          0  ... -0.223927                    0          1
 340          0          0  ... -1.015499                    0          0
 651          1          0  ...  0.127883                    0          1
 974          0          0  ... -0.223927                    0          1
 194          0          0  ... -1.279356                    0          0
 ..         ...        ...  ...       ...                  ...        ...
 460          1          0  ...  0.127883                    0          1
 767          0          0  ... -0.399832                    0          0
 435          0          0  ... -0.927547                    0          1
 227          1          0  ...  1.535122                    0          0
 326          1          0  ...  1.183312                    0          0
 394          1          0  ... -0.399832                    0          1
 814          0          1  ...  0.919455                    0          0
 897          1          0  ... -0.048022                    0          1
 674          0          0  ...  0.479693                    1          1
 253          1          0  ... -0.048022                    0          1
 715          0          0  ...  2.414647                    0          1
 887          0          0  ... -1.103451                    0          1
 426          0          0  ... -0.575737                    0          1
 448          1          0  ...  1.711027                    0          1
 949          0          0  ... -0.399832                    0          1
 443          0          0  ...  0.479693                    1          1
 649          0          0  ...  0.391740                    0          0
 205          0          0  ...  0.215835                    0          0
 689          0          1  ... -0.399832                    0          1
 505          0          1  ... -0.751642                    0          1
 321          0          0  ... -0.311879                    0          1
 23           0          0  ...  0.743550                    0          1
 449          0          0  ...  2.238742                    1          1
 456          0          1  ...  0.039930                    0          0
 930          1          0  ... -1.015499                    0          1
 508          0          0  ... -0.663689                    0          1
 445          0          0  ...  0.479693                    0          0
 16           0          0  ...  1.535122                    0          1
 746          0          1  ... -1.103451                    0          0
 638          0          0  ... -0.135974                    0          1

      housing_2  housing_3  existing_credits  job  num_dependents  \
 291          0          1                 1    3               1
 748          0          0                 1    2               1
 504          0          1                 1    2               1
 51           0          0                 2    3               1
 721          0          1                 1    2               2
 593          0          1                 1    1               1
 936          0          0                 1    1               1
 185          0          0                 2    2               1
 610          0          0                 1    2               1
 355          0          0                 1    1               1
 482          0          1                 2    2               1
 687          1          0                 1    2               1
 223          0          0                 2    2               2
 27           0          1                 2    2               1
 461          0          0                 1    2               1
 566          0          0                 1    2               1
 75           1          0                 2    3               1
 228          0          0                 1    2               1
 36           1          0                 1    2               1
 947          0          0                 1    3               1
 723          0          0                 1    1               1
 117          0          1                 2    2               1
 135          0          0                 2    2               1
 799          0          0                 1    0               1
 532          0          1                 1    2               1
 173          0          0                 1    2               1
 340          1          0                 2    2               1
 651          0          0                 1    1               1
 974          0          0                 1    2               1
 194          0          1                 1    2               1
 ..         ...        ...               ...  ...             ...
 460          0          0                 1    2               2
 767          0          1                 1    2               1
 435          0          0                 1    2               1
 227          1          0                 1    3               1
 326          0          1                 1    2               1
 394          0          0                 1    3               1
 814          1          0                 1    2               2
 897          0          0                 1    2               1
 674          0          0                 1    1               2
 253          0          0                 2    2               1
 715          0          0                 2    2               1
 887          0          0                 1    2               1
 426          0          0                 2    2               1
 448          0          0                 1    3               1
 949          0          0                 2    2               1
 443          0          0                 1    1               2
 649          0          1                 1    1               2
 205          1          0                 3    3               2
 689          0          0                 1    2               2
 505          0          0                 1    1               1
 321          0          0                 1    2               1
 23           0          0                 1    2               1
 449          0          0                 2    2               1
 456          0          1                 2    2               2
 930          0          0                 1    1               1
 508          0          0                 1    2               1
 445          0          1                 2    1               1
 16           0          0                 2    2               1
 746          0          1                 1    2               1
 638          0          0                 1    2               2

      own_telephone  foreign_worker
 291              1               1
 748              0               1
 504              0               1
 51               1               1
 721              0               1
 593              1               1
 936              0               1
 185              0               1
 610              0               1
 355              0               1
 482              1               1
 687              0               1
 223              1               1
 27               0               1
 461              0               1
 566              0               1
 75               0               1
 228              0               1
 36               1               1
 947              1               1
 723              0               1
 117              0               0
 135              1               1
 799              0               1
 532              0               1
 173              0               0
 340              1               1
 651              0               1
 974              1               1
 194              0               1
 ..             ...             ...
 460              0               1
 767              0               1
 435              1               1
 227              1               1
 326              1               1
 394              0               1
 814              0               1
 897              0               0
 674              0               1
 253              0               1
 715              0               1
 887              1               1
 426              0               1
 448              1               1
 949              0               1
 443              0               1
 649              0               1
 205              1               1
 689              0               1
 505              0               1
 321              0               1
 23               0               1
 449              0               1
 456              0               1
 930              0               0
 508              0               1
 445              0               1
 16               0               1
 746              0               1
 638              0               1

 [750 rows x 44 columns],
      checking_status_1  checking_status_2  checking_status_3  \
 81                   0                  0                  0
 770                  0                  1                  0
 497                  0                  0                  0
 464                  0                  0                  0
 412                  0                  0                  0
 346                  1                  0                  0
 308                  1                  0                  0
 545                  0                  1                  0
 641                  1                  0                  0
 811                  1                  0                  0

In [87]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [88]:
print(x_train.shape, y_train.shape)

(800, 44) (800,)

In [89]:
print(x_test.shape, y_test.shape)

(200, 44) (200,)

In [90]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 504 to 355
Data columns (total 44 columns):
checking_status_1         800 non-null int64
checking_status_2         800 non-null int64
checking_status_3         800 non-null int64
checking_status_4         800 non-null int64
duration                  800 non-null float64
credit_history            800 non-null float64
purpose_1                 800 non-null int64
purpose_2                 800 non-null int64
purpose_3                 800 non-null int64
purpose_4                 800 non-null int64
purpose_5                 800 non-null int64
purpose_6                 800 non-null int64
purpose_7                 800 non-null int64
purpose_8                 800 non-null int64
purpose_9                 800 non-null int64
purpose_10                800 non-null int64
credit_amount             800 non-null float64
savings_status            800 non-null int64
employment_1              800 non-null int64
employment_2              800 non-null int64
employment_3              800 non-null int64
employment_4              800 non-null int64
employment_5              800 non-null int64
installment_commitment    800 non-null int64
personal_status_1         800 non-null int64
personal_status_2         800 non-null int64
personal_status_3         800 non-null int64
personal_status_4         800 non-null int64
other_parties             800 non-null int64
residence_since           800 non-null int64
property_magnitude_1      800 non-null int64
property_magnitude_2      800 non-null int64
property_magnitude_3      800 non-null int64
property_magnitude_4      800 non-null int64
age                       800 non-null float64
other_payment_plans       800 non-null int64
housing_1                 800 non-null int64
housing_2                 800 non-null int64
housing_3                 800 non-null int64
existing_credits          800 non-null int64
job                       800 non-null int64
num_dependents            800 non-null int64
own_telephone             800 non-null int64
foreign_worker            800 non-null int64
dtypes: float64(4), int64(40)
memory usage: 281.2 KB
None

## Logistic Regression

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [92]:
reg = LogisticRegression()
reg.fit(x_train, y_train)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [93]:
reg.score(x_train, y_train)

0.78625

In [94]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0], dtype=int64)

In [95]:
y_train

504    0
839    1
141    1
825    1
470    0
926    1
173    1
117    1
855    1
308    0
416    0
622    0
390    1
46     1
751    0
532    1
237    0
613    1
456    1
351    0
750    1
205    1
697    1
156    1
579    1
738    1
449    0
498    1
656    0
741    1
      ..
255    1
485    0
775    0
869    1
617    1
144    1
190    0
978    0
742    1
765    1
784    1
979    0
763    0
794    1
998    0
469    1
552    0
118    0
162    1
583    0
790    0
843    1
404    1
393    1
218    1
924    0
223    1
271    1
474    0
355    0
Name: class, Length: 800, dtype: int64

In [96]:
model_outputs == y_train

504     True
839     True
141    False
825     True
470     True
926    False
173     True
117     True
855     True
308    False
416     True
622    False
390     True
46      True
751     True
532     True
237     True
613     True
456     True
351    False
750     True
205     True
697     True
156     True
579     True
738     True
449    False
498     True
656    False
741     True
       ...
255     True
485    False
775     True
869    False
617     True
144     True
190    False
978    False
742     True
765     True
784     True
979     True
763    False
794     True
998    False
469     True
552    False
118    False
162     True
583     True
790    False
843     True
404     True
393     True
218    False
924     True
223     True
271     True
474    False
355     True
Name: class, Length: 800, dtype: bool

In [97]:
np.sum((model_outputs == y_train))

629

In [98]:
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.78625

In [99]:
reg.intercept_

array([1.24981855])

In [100]:
reg.coef_

array([[ 0.08306298, -0.2598157 ,  0.17949388,  1.24707739, -0.34639893,
        -0.36780688,  0.26344123, -0.84835281, -0.03068951, -0.67938926,
         1.0601184 , -0.09218482,  0.61382705, -0.4426586 ,  0.92501132,
         0.48069555, -0.28384725, -0.06368423,  0.38384635,  0.33885096,
         0.69191519, -0.02044161, -0.14435234, -0.26646248,  0.71415768,
         0.37597015, -0.1664976 ,  0.32618831,  0.13195739,  0.050079  ,
         0.68222996,  0.26724613, -0.08154401,  0.38188646,  0.17825641,
        -0.52485443,  0.62029657,  0.65237668, -0.0228547 , -0.39539195,
        -0.03365204, -0.12586937,  0.39730907, -0.76069504]])

In [101]:
unscaled_inputs.columns.values

array(['checking_status_1', 'checking_status_2', 'checking_status_3',
       'checking_status_4', 'duration', 'credit_history', 'purpose_1',
       'purpose_2', 'purpose_3', 'purpose_4', 'purpose_5', 'purpose_6',
       'purpose_7', 'purpose_8', 'purpose_9', 'purpose_10',
       'credit_amount', 'savings_status', 'employment_1', 'employment_2',
       'employment_3', 'employment_4', 'employment_5',
       'installment_commitment', 'personal_status_1', 'personal_status_2',
       'personal_status_3', 'personal_status_4', 'other_parties',
       'residence_since', 'property_magnitude_1', 'property_magnitude_2',
       'property_magnitude_3', 'property_magnitude_4', 'age',
       'other_payment_plans', 'housing_1', 'housing_2', 'housing_3',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker'], dtype=object)

In [102]:
feature_name = unscaled_inputs.columns.values
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0        checking_status_1     0.083063
1        checking_status_2    -0.259816
2        checking_status_3     0.179494
3        checking_status_4     1.247077
4                 duration    -0.346399
5           credit_history    -0.367807
6                purpose_1     0.263441
7                purpose_2    -0.848353
8                purpose_3    -0.030690
9                purpose_4    -0.679389
10               purpose_5     1.060118
11               purpose_6    -0.092185
12               purpose_7     0.613827
13               purpose_8    -0.442659
14               purpose_9     0.925011
15              purpose_10     0.480696
16           credit_amount    -0.283847
17          savings_status    -0.063684
18            employment_1     0.383846
19            employment_2     0.338851
20            employment_3     0.691915
21            employment_4    -0.020442
22            employment_5    -0.144352
23  installment_commitment    -0.266462
24       personal_status_1     0.714158
25       personal_status_2     0.375970
26       personal_status_3    -0.166498
27       personal_status_4     0.326188
28           other_parties     0.131957
29         residence_since     0.050079
30    property_magnitude_1     0.682230
31    property_magnitude_2     0.267246
32    property_magnitude_3    -0.081544
33    property_magnitude_4     0.381886
34                     age     0.178256
35     other_payment_plans    -0.524854
36               housing_1     0.620297
37               housing_2     0.652377
38               housing_3    -0.022855
39        existing_credits    -0.395392
40                     job    -0.033652
41          num_dependents    -0.125869
42           own_telephone     0.397309
43          foreign_worker    -0.760695

In [103]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept     1.249819
1        checking_status_1     0.083063
2        checking_status_2    -0.259816
3        checking_status_3     0.179494
4        checking_status_4     1.247077
5                 duration    -0.346399
6           credit_history    -0.367807
7                purpose_1     0.263441
8                purpose_2    -0.848353
9                purpose_3    -0.030690
10               purpose_4    -0.679389
11               purpose_5     1.060118
12               purpose_6    -0.092185
13               purpose_7     0.613827
14               purpose_8    -0.442659
15               purpose_9     0.925011
16              purpose_10     0.480696
17           credit_amount    -0.283847
18          savings_status    -0.063684
19            employment_1     0.383846
20            employment_2     0.338851
21            employment_3     0.691915
22            employment_4    -0.020442
23            employment_5    -0.144352
24  installment_commitment    -0.266462
25       personal_status_1     0.714158
26       personal_status_2     0.375970
27       personal_status_3    -0.166498
28       personal_status_4     0.326188
29           other_parties     0.131957
30         residence_since     0.050079
31    property_magnitude_1     0.682230
32    property_magnitude_2     0.267246
33    property_magnitude_3    -0.081544
34    property_magnitude_4     0.381886
35                     age     0.178256
36     other_payment_plans    -0.524854
37               housing_1     0.620297
38               housing_2     0.652377
39               housing_3    -0.022855
40        existing_credits    -0.395392
41                     job    -0.033652
42          num_dependents    -0.125869
43           own_telephone     0.397309
44          foreign_worker    -0.760695

## Interpreting the coefficients

In [104]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
0                Intercept     1.249819    3.489710
4        checking_status_4     1.247077    3.480157
11               purpose_5     1.060118    2.886713
15               purpose_9     0.925011    2.521897
25       personal_status_1     0.714158    2.042466
21            employment_3     0.691915    1.997538
31    property_magnitude_1     0.682230    1.978284
38               housing_2     0.652377    1.920099
37               housing_1     0.620297    1.859479
13               purpose_7     0.613827    1.847488
16              purpose_10     0.480696    1.617199
43           own_telephone     0.397309    1.487816
19            employment_1     0.383846    1.467920
34    property_magnitude_4     0.381886    1.465046
26       personal_status_2     0.375970    1.456404
20            employment_2     0.338851    1.403334
28       personal_status_4     0.326188    1.385676
32    property_magnitude_2     0.267246    1.306362
7                purpose_1     0.263441    1.301401
3        checking_status_3     0.179494    1.196612
35                     age     0.178256    1.195132
29           other_parties     0.131957    1.141060
1        checking_status_1     0.083063    1.086610
30         residence_since     0.050079    1.051354
22            employment_4    -0.020442    0.979766
39               housing_3    -0.022855    0.977404
9                purpose_3    -0.030690    0.969777
41                     job    -0.033652    0.966908
18          savings_status    -0.063684    0.938301
33    property_magnitude_3    -0.081544    0.921692
12               purpose_6    -0.092185    0.911937
42          num_dependents    -0.125869    0.881730
23            employment_5    -0.144352    0.865583
27       personal_status_3    -0.166498    0.846625
2        checking_status_2    -0.259816    0.771194
24  installment_commitment    -0.266462    0.766085
17           credit_amount    -0.283847    0.752882
5                 duration    -0.346399    0.707230
6           credit_history    -0.367807    0.692251
40        existing_credits    -0.395392    0.673416
14               purpose_8    -0.442659    0.642326
36     other_payment_plans    -0.524854    0.591641
10               purpose_4    -0.679389    0.506926
44          foreign_worker    -0.760695    0.467341
8                purpose_2    -0.848353    0.428120

## Testing the Model

In [105]:
reg.score(x_test, y_test)

0.725

In [106]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.55229752, 0.44770248],
       [0.05391955, 0.94608045],
       [0.12716447, 0.87283553],
       [0.05871199, 0.94128801],
       [0.50462419, 0.49537581],
       [0.70381494, 0.29618506],
       [0.49244125, 0.50755875],
       [0.31300997, 0.68699003],
       [0.19062401, 0.80937599],
       [0.46743881, 0.53256119],
       [0.50466879, 0.49533121],
       [0.75319751, 0.24680249],
       [0.50038711, 0.49961289],
       [0.18737356, 0.81262644],
       [0.25712315, 0.74287685],
       [0.13340078, 0.86659922],
       [0.20957345, 0.79042655],
       [0.08539509, 0.91460491],
       [0.13188441, 0.86811559],
       [0.3748397 , 0.6251603 ],
       [0.50556415, 0.49443585],
       [0.24124421, 0.75875579],
       [0.10873774, 0.89126226],
       [0.11815878, 0.88184122],
       [0.0303091 , 0.9696909 ],
       [0.66349619, 0.33650381],
       [0.10265001, 0.89734999],
       [0.72180208, 0.27819792],
       [0.88282605, 0.11717395],
       [0.06859274, 0.93140726],
       [0.49066388, 0.50933612],
       [0.12898136, 0.87101864],
       [0.0460097 , 0.9539903 ],
       [0.31322222, 0.68677778],
       [0.42370784, 0.57629216],
       [0.04820567, 0.95179433],
       [0.58327237, 0.41672763],
       [0.0486696 , 0.9513304 ],
       [0.03613394, 0.96386606],
       [0.42300715, 0.57699285],
       [0.30788685, 0.69211315],
       [0.28445637, 0.71554363],
       [0.34958272, 0.65041728],
       [0.17948122, 0.82051878],
       [0.22321302, 0.77678698],
       [0.12112089, 0.87887911],
       [0.1680288 , 0.8319712 ],
       [0.36036163, 0.63963837],
       [0.19880648, 0.80119352],
       [0.39527845, 0.60472155],
       [0.13215724, 0.86784276],
       [0.3614833 , 0.6385167 ],
       [0.65566866, 0.34433134],
       [0.45754938, 0.54245062],
       [0.28764968, 0.71235032],
       [0.06924524, 0.93075476],
       [0.20018445, 0.79981555],
       [0.26934661, 0.73065339],
       [0.16836181, 0.83163819],
       [0.42014111, 0.57985889],
       [0.06264064, 0.93735936],
       [0.04611394, 0.95388606],
       [0.18516148, 0.81483852],
       [0.59115342, 0.40884658],
       [0.01250416, 0.98749584],
       [0.03686769, 0.96313231],
       [0.04553212, 0.95446788],
       [0.26155273, 0.73844727],
       [0.87985913, 0.12014087],
       [0.07715561, 0.92284439],
       [0.01578032, 0.98421968],
       [0.68238637, 0.31761363],
       [0.41178994, 0.58821006],
       [0.09923605, 0.90076395],
       [0.24578378, 0.75421622],
       [0.18382913, 0.81617087],
       [0.68110362, 0.31889638],
       [0.15235505, 0.84764495],
       [0.64538925, 0.35461075],
       [0.80750613, 0.19249387],
       [0.31170855, 0.68829145],
       [0.05201747, 0.94798253],
       [0.04675531, 0.95324469],
       [0.13717014, 0.86282986],
       [0.17451146, 0.82548854],
       [0.02957339, 0.97042661],
       [0.61226304, 0.38773696],
       [0.5142031 , 0.4857969 ],
       [0.06176597, 0.93823403],
       [0.22652352, 0.77347648],
       [0.26881792, 0.73118208],
       [0.43481914, 0.56518086],
       [0.69119042, 0.30880958],
       [0.49151037, 0.50848963],
       [0.1549763 , 0.8450237 ],
       [0.71135014, 0.28864986],
       [0.09638742, 0.90361258],
       [0.00470308, 0.99529692],
       [0.15403679, 0.84596321],
       [0.57362022, 0.42637978],
       [0.3540393 , 0.6459607 ],
       [0.38168149, 0.61831851],
       [0.25795837, 0.74204163],
       [0.35394985, 0.64605015],
       [0.36090416, 0.63909584],
       [0.1925056 , 0.8074944 ],
       [0.88658384, 0.11341616],
       [0.88308236, 0.11691764],
       [0.42732671, 0.57267329],
       [0.26016813, 0.73983187],
       [0.07527841, 0.92472159],
       [0.11434609, 0.88565391],
       [0.09018829, 0.90981171],
       [0.18478166, 0.81521834],
       [0.15521779, 0.84478221],
       [0.02973273, 0.97026727],
       [0.04037859, 0.95962141],
       [0.3762232 , 0.6237768 ],
       [0.08202435, 0.91797565],
       [0.10845722, 0.89154278],
       [0.20781874, 0.79218126],
       [0.67779007, 0.32220993],
       [0.14469942, 0.85530058],
       [0.32612591, 0.67387409],
       [0.27582338, 0.72417662],
       [0.05764728, 0.94235272],
       [0.53166839, 0.46833161],
       [0.0458381 , 0.9541619 ],
       [0.51452926, 0.48547074],
       [0.37705583, 0.62294417],
       [0.18107684, 0.81892316],
       [0.8055673 , 0.1944327 ],
       [0.3268847 , 0.6731153 ],
       [0.09695665, 0.90304335],
       [0.08882008, 0.91117992],
       [0.01413907, 0.98586093],
       [0.1514656 , 0.8485344 ],
       [0.11784777, 0.88215223],
       [0.0284175 , 0.9715825 ],
       [0.77772363, 0.22227637],
       [0.16909233, 0.83090767],
       [0.41494457, 0.58505543],
       [0.09860676, 0.90139324],
       [0.43974408, 0.56025592],
       [0.2267999 , 0.7732001 ],
       [0.17002013, 0.82997987],
       [0.21463914, 0.78536086],
       [0.06852155, 0.93147845],
       [0.85080083, 0.14919917],
       [0.0383959 , 0.9616041 ],
       [0.3797743 , 0.6202257 ],
       [0.03863524, 0.96136476],
       [0.03881401, 0.96118599],
       [0.02150901, 0.97849099],
       [0.63707805, 0.36292195],
       [0.46955615, 0.53044385],
       [0.41635331, 0.58364669],
       [0.0449741 , 0.9550259 ],
       [0.87081985, 0.12918015],
       [0.33822706, 0.66177294],
       [0.16070932, 0.83929068],
       [0.08403615, 0.91596385],
       [0.23479483, 0.76520517],
       [0.04120239, 0.95879761],
       [0.01604597, 0.98395403],
       [0.15674121, 0.84325879],
       [0.29864574, 0.70135426],
       [0.04588265, 0.95411735],
       [0.79130797, 0.20869203],
       [0.51483421, 0.48516579],
       [0.21480784, 0.78519216],
       [0.20810667, 0.79189333],
       [0.18187782, 0.81812218],
       [0.10663547, 0.89336453],
       [0.08265307, 0.91734693],
       [0.671825  , 0.328175  ],
       [0.69913741, 0.30086259],
       [0.16927456, 0.83072544],
       [0.59729909, 0.40270091],
       [0.12018223, 0.87981777],
       [0.10757294, 0.89242706],
       [0.00801428, 0.99198572],
       [0.47247686, 0.52752314],
       [0.75967835, 0.24032165],
       [0.07520665, 0.92479335],
       [0.57069366, 0.42930634],
       [0.19031861, 0.80968139],
       [0.2176862 , 0.7823138 ],
       [0.26919369, 0.73080631],
       [0.09107952, 0.90892048],
       [0.24615562, 0.75384438],
       [0.13444423, 0.86555577],
       [0.12685674, 0.87314326],
       [0.29397205, 0.70602795],
       [0.2378931 , 0.7621069 ],
       [0.05338936, 0.94661064],
       [0.12723268, 0.87276732],
       [0.04953338, 0.95046662],
       [0.36895906, 0.63104094],
       [0.39742267, 0.60257733]])

In [107]:
predicted_proba.shape

(200, 2)

In [108]:
predicted_proba[:,1]

array([0.44770248, 0.94608045, 0.87283553, 0.94128801, 0.49537581,
       0.29618506, 0.50755875, 0.68699003, 0.80937599, 0.53256119,
       0.49533121, 0.24680249, 0.49961289, 0.81262644, 0.74287685,
       0.86659922, 0.79042655, 0.91460491, 0.86811559, 0.6251603 ,
       0.49443585, 0.75875579, 0.89126226, 0.88184122, 0.9696909 ,
       0.33650381, 0.89734999, 0.27819792, 0.11717395, 0.93140726,
       0.50933612, 0.87101864, 0.9539903 , 0.68677778, 0.57629216,
       0.95179433, 0.41672763, 0.9513304 , 0.96386606, 0.57699285,
       0.69211315, 0.71554363, 0.65041728, 0.82051878, 0.77678698,
       0.87887911, 0.8319712 , 0.63963837, 0.80119352, 0.60472155,
       0.86784276, 0.6385167 , 0.34433134, 0.54245062, 0.71235032,
       0.93075476, 0.79981555, 0.73065339, 0.83163819, 0.57985889,
       0.93735936, 0.95388606, 0.81483852, 0.40884658, 0.98749584,
       0.96313231, 0.95446788, 0.73844727, 0.12014087, 0.92284439,
       0.98421968, 0.31761363, 0.58821006, 0.90076395, 0.75421622,
       0.81617087, 0.31889638, 0.84764495, 0.35461075, 0.19249387,
       0.68829145, 0.94798253, 0.95324469, 0.86282986, 0.82548854,
       0.97042661, 0.38773696, 0.4857969 , 0.93823403, 0.77347648,
       0.73118208, 0.56518086, 0.30880958, 0.50848963, 0.8450237 ,
       0.28864986, 0.90361258, 0.99529692, 0.84596321, 0.42637978,
       0.6459607 , 0.61831851, 0.74204163, 0.64605015, 0.63909584,
       0.8074944 , 0.11341616, 0.11691764, 0.57267329, 0.73983187,
       0.92472159, 0.88565391, 0.90981171, 0.81521834, 0.84478221,
       0.97026727, 0.95962141, 0.6237768 , 0.91797565, 0.89154278,
       0.79218126, 0.32220993, 0.85530058, 0.67387409, 0.72417662,
       0.94235272, 0.46833161, 0.9541619 , 0.48547074, 0.62294417,
       0.81892316, 0.1944327 , 0.6731153 , 0.90304335, 0.91117992,
       0.98586093, 0.8485344 , 0.88215223, 0.9715825 , 0.22227637,
       0.83090767, 0.58505543, 0.90139324, 0.56025592, 0.7732001 ,
       0.82997987, 0.78536086, 0.93147845, 0.14919917, 0.9616041 ,
       0.6202257 , 0.96136476, 0.96118599, 0.97849099, 0.36292195,
       0.53044385, 0.58364669, 0.9550259 , 0.12918015, 0.66177294,
       0.83929068, 0.91596385, 0.76520517, 0.95879761, 0.98395403,
       0.84325879, 0.70135426, 0.95411735, 0.20869203, 0.48516579,
       0.78519216, 0.79189333, 0.81812218, 0.89336453, 0.91734693,
       0.328175  , 0.30086259, 0.83072544, 0.40270091, 0.87981777,
       0.89242706, 0.99198572, 0.52752314, 0.24032165, 0.92479335,
       0.42930634, 0.80968139, 0.7823138 , 0.73080631, 0.90892048,
       0.75384438, 0.86555577, 0.87314326, 0.70602795, 0.7621069 ,
       0.94661064, 0.87276732, 0.95046662, 0.63104094, 0.60257733])

## Saving the model in pickle

In [110]:
import pickle

with open('model', 'wb') as file:
    pickle.dump(reg, file)
    
with open('scaler','wb') as file:
    pickle.dump(credit_scaler, file)